.App {
  text-align: center;
}



.custom-card-img {
  height: 300px; 
  object-fit: cover; 
}



.authheader {
  font-size: 72px;
  background: -webkit-linear-gradient(#000277, #5c0062);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.gradient-placeholder {

  /* Apply the gradient to the placeholder */
  background: black;
  -webkit-background-clip: text;
}

/* Override the color for the user input text */
.gradient-placeholder::placeholder {
  background: linear-gradient( rgb(93, 0, 160) 5em, rgb(130, 0, 153) 5em);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;/* Set the color for the placeholder text */
}


/* navbar  */

.light-green-button {
  background-color: rgb(1, 206, 1) !important;
}




/* landing */

.landingbody{

  background-image: linear-gradient(to bottom, #5a6371, #4a505f, #3a3f4e, #2c2d3d, #1e1d2d);
  min-height: 100vh;
}

.applybtn{
  background-color: rgb(250, 71, 0);
  color: white;
}

.filterinp {
  border: 3px solid rgb(250, 71, 0);
}


/* landmoviecard */

.cardbtns{
  display: flex;
  justify-content: space-between;
}

.movie-link {
  /* Your link styles here */
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit color from parent */
}

/* favorite */

.favbody{

  background-image: linear-gradient(to bottom, #5a6371, #4a505f, #3a3f4e, #2c2d3d, #1e1d2d);
  min-height: 100vh;
}


/* singlemovie */

.singlemoviebody{

  background-image: linear-gradient(to bottom, #5a6371, #4a505f, #3a3f4e, #2c2d3d, #1e1d2d);
  min-height: 100vh;
  color: white;
  padding-top: 4rem;
}


